<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}SmartX{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <style>
      body {
        background-image: url("{% static 'image/background3.png' %}");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
      .content-wrapper {
        background-color: rgba(
          150,
          150,
          80,
          0.1
        ); /* bg-gray-100 with opacity */
        min-height: 100vh;
      }
    </style>
  </head>
  <body
    class="{% if request.path == '/accounts/login/' %}login-page{% else %}bg-gray-100{% endif %} min-h-screen flex flex-col"
  >
    <div class="content-wrapper flex flex-col min-h-screen">
      <header class="bg-blue-600 text-white p-4">
        <nav class="container mx-auto flex justify-between items-center">
          <a href="{% url 'upload_image' %}" class="text-2xl font-bold"
            >SmartX</a
          >
          <ul class="flex space-x-4">
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'upload_image' %}" class="hover:text-blue-200"
                >Upload</a
              >
            </li>
            <li>
              <a href="{% url 'monthly_report' %}" class="hover:text-blue-200"
                >Dashboard</a
              >
            </li>
            <li>
              <a href="{% url 'statistics' %}" class="hover:text-blue-200"
                >Statistics</a
              >
            </li>
            <li><form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="hover:text-blue-200">
                  Logout
                </button>
              </form></li>

            {% else %}
            <li>
              <a href="{% url 'login' %}" class="hover:text-blue-200">Login</a>
            </li>
            <li>
              <a href="{% url 'signup' %}" class="hover:text-blue-200"
                >Sign Up</a
              >
            </li>
            {% endif %}
          </ul>
        </nav>
      </header>

      <main class="container mx-auto flex-grow p-4">
        {% block content %}{% endblock %}
      </main>

      <footer class="bg-blue-600 text-white p-4 mt-8">
        <div class="container mx-auto text-center">
          &copy; 2024 TB Detector. All rights reserved.
        </div>
      </footer>
    </div>
  </body>
</html>
